body{
	background-color: #E665C3; 
	color:000000;
	font-family: Times New Roman, Times, sans-serif;
background-image: url(Golf Teamm.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;}


#styledimg { background-image: url(src="Julia and Brandie">); 
background-repeat: no-repeat; width: 200; height: 200; }

